<div class="container p-3">
    <h2 class="p-2" style="text-align: center">Sign up for your PetProject accunt.</h2>
    <div class="d-flex">
        <div class="w-50 p-4">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo laborum soluta in est explicabo ad ut architecto pariatur, consequuntur quia. Fugit quidem atque voluptas? Repudiandae est ea fuga accusamus itaque?
        </div>
        <div class="w-50 p-4">
            <form [formGroup]="form" (ngSubmit)="submit()">
                <div class="form-group">
                    <label for="inputEmail">Email adress</label>
                    <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email" formControlName="email">
                    <small id="emailHelp"> We'll never share email anyone else.</small><br>
                    <div *ngIf="form.get('email').invalid && form.get('email').touched">
                        <small
                            *ngIf="form.get('email').errors.required" 
                            class="validation"
                        >
                            Please fill out this field.
                        </small>
                        <small
                            *ngIf="form.get('email').errors.email" 
                            class="validation"
                        >
                            Please fill correct email.
                        </small>
                        <small
                            *ngIf="form.get('email').errors.uniqEmail" 
                            class="validation"
                        >
                            Please use an email address that does not already exists.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputFirstName">First Name</label>
                    <input type="text" class="form-control" id="inputFirstName" placeholder="Enter First Name" formControlName="firstname">
                    <small
                        *ngIf="form.get('firstname').errors && form.get('firstname').touched" 
                        class="validation"
                    >
                        Please fill out this field.
                    </small>
                </div>
                <div class="form-group">
                    <label for="inputLastName">Last Name</label>
                    <input type="text" class="form-control" id="inputLastName" placeholder="Enter Last Name" formControlName="lastname">
                    <small
                        *ngIf="form.get('lastname').errors &&form.get('lastname').touched" 
                        class="validation"
                    >
                        Please fill out this field.
                    </small>
                </div>
                <div class="form-group">
                    <label for="inputUsername">Chose a Username</label>
                    <input type="text" class="form-control" id="inputUsername" placeholder="Enter Username" formControlName="username">
                    <div *ngIf="form.get('username').invalid && form.get('username').touched">
                        <small
                            *ngIf="form.get('username').errors.required" 
                            class="validation"
                        >
                            Please fill out this field.
                        </small>
                        <small 
                            *ngIf="form.get('username').errors.uniqUsername"
                            class="validation"
                        >
                            Please use an username that does not already exists.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword">Password</label>
                    <input type="password" class="form-control" id="inputPassword" placeholder="Enter Password" formControlName="password">
                    <div *ngIf="form.get('password').invalid && form.get('password').touched">
                        <ng-container
                            *ngIf="form.get('password').value.length == 0; then emptyField; else filledField">
                        </ng-container>

                        <ng-template #emptyField>
                            <small class="validation">
                                Please fill out this field.
                            </small>
                        </ng-template>
                    
                        <ng-template #filledField>
                            <small class="validation">
                                Please length this text to {{form.get('password').errors.minlength.requiredLength}} 
                                characters or more (you are currently usesing {{form.get('password').errors.minlength.actualLength}} characters).
                            </small>
                        </ng-template>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputConfirmPassword">Confirm Password</label>
                    <input type="password" class="form-control" id="inputConfirmPassword" placeholder="Confirm Password" formControlName="confirmPassword">
                    <div *ngIf="form.get('confirmPassword').invalid && form.get('confirmPassword').touched">
                        <small
                            *ngIf="form.get('confirmPassword').errors.required" 
                            class="validation"
                        >
                            Please fill out this field.
                        </small>
                        <small
                            *ngIf="form.get('confirmPassword').errors.mustMatch" 
                            class="validation"
                        >
                            Password must mutch.
                        </small>
                    </div>
                </div>
                <button type="submit" [disabled]="form.invalid" class="btn btn-dark" style="width: 100%;">CONTINUE</button>
            </form>
        </div>
    </div>
</div>