<form>
    <div class="form-group">
        <label for="inputEmail">Email adress</label>
        <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp"> We'll never share email anyone else.</small>
    </div>
    <div class="form-group">
        <label for="inputFirstName">First Name</label>
        <input type="text" class="form-control" id="inputFirstName" placeholder="Enter First Name">
    </div>
    <div class="form-group">
        <label for="inputLastName">Last Name</label>
        <input type="text" class="form-control" id="inputLastName" placeholder="Enter Last Name">
    </div>
    <div class="form-group">
        <label for="inputUsername">Chose a Username</label>
        <input type="text" class="form-control" id="inputLastName" placeholder="Enter Username">
    </div>
    <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="password" class="form-control" id="inputPassword" placeholder="Enter Password">
    </div>
    <div class="form-group">
        <label for="inputConfirmPassword">Confirm Password</label>
        <input type="password" class="form-control" id="inputConfirmPasswordPassword" placeholder="Confirm Password">
    </div>
    <button type="supmit" class="btn btn-dark" style="width: 100%;">CONTINUE</button>
</form>