<div class="card">
    <div class="card-header">
       <div class="media">
           <a href="/">
                <img class="avatar rounded-circle" style="height: 25px;">
           </a>
        <div>
            <h5 class="">{{card.title}}</h5>
        </div>
       </div>
    </div>    
    <div class="card-body">
        <a href="/">
            <img class="body-img">
        </a>
        <div class="actions" style="height: 40px;">
            <a href="#" class="card-link">Like</a>
            <a href="#" class="card-link">Reply</a>
            <a href="#" class="card-link">Share</a>
            <i class="fas fa-heart"></i>
        </div>
    </div>
</div>