<ul class="nav nav-tabs" id="profile-tabs" role=tablist>
    <li class="nav-item">
        <a class="nav-link active" id="about-tab" data-toggle="tab" href="#about">About</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="designs-tab" data-toggle="tab" href="#designs">Designs</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="designs-tab" data-toggle="tab" href="#likes">Likes</a>
    </li>
</ul>
<div class="tab-content" id="profile-tabs-content">
    <div class="tab-pane fade show active" id="about" role="tabpanel" aria-labelledby="about-tab">

    </div>
    <div class="tap-pane fade" id="designs" role="tabpanel" aria-labelledby="designs-tab">

    </div>
    <div class="tap-pane fade" id="likes" role="tabpanel" aria-labelledby="designs-tab">

    </div>
</div>